<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      Light Properties
    </h3>
  </div>
  <div class='panel-body'>
    <h6 class='panel-title-medium'>
      type: Ambient Light
    </h6>
    <div class='row panel-content' style='padding-left:0;'>
      <div class='col-md-4 panel-content-title'>
        Cast Shadow
      </div>
      <div class='col-md-8'>
        <label class='topcoat-switch'>
          <input checked='true' class='topcoat-switch__input' data-flag='lightCastShadow' type='checkbox'>
          <div class='topcoat-switch__toggle'></div>
        </label>
      </div>
    </div>
    <div class='row panel-content' style='padding-left:0;'>
      <div class='col-md-4 panel-content-title'>
        Receive Shadow
      </div>
      <div class='col-md-8'>
        <label class='topcoat-switch'>
          <input checked='true' class='topcoat-switch__input' data-flag='lightReceiveShadow' type='checkbox'>
          <div class='topcoat-switch__toggle'></div>
        </label>
      </div>
    </div>
    <div class='row panel-content' style='padding-left:0;'>
      <div class='col-md-4 panel-content-title'>
        Color
      </div>
      <div class='col-md-8'>
        <input class='color' data-toggle='light' id='lightColor' style='width: 80px; margin-top: 4px;'>
      </div>
    </div>
  </div>
</div>
