.panel.panel-default
    .panel-heading
        %h3.panel-title
            Light Properties
    .panel-body
        %h6.panel-title-medium
            type: Directional Light
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Helper
            .col-md-6
                %label.topcoat-switch
                    %input#showCamera.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"lightShowCamera"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Shadow
            .col-md-6
                %label.topcoat-switch
                    %input#castShadow.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"lightCastShadow"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-4.panel-content-title
                Color
            .col-md-8
                %input#lightColor.color{:style=>"width: 80px; margin-top: 4px;", "data-toggle"=>"light"}
