#headerContainer{:style=>"padding: 10px;"}
    %form
        .form-group
            %label{:for=>"lightName"}
                Name
            %input#lightName.form-control{:type=>"text", :placeholder=>""}
        .form-group
            %label{:for=>"lightGroup"}
                Group
            %input#lightGroup.form-control{:type=>"text", :placeholder=>""}
    / position
    %form.form-inline
        %label{:style=>"width:100%;"}
            Position
        .form-group
            %label{:for=>"position_x"}
                x:
            %input#position_x.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
        .form-group
            %label{:for=>"position_y"}
                y:
            %input#position_y.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
        .form-group
            %label{:for=>"position_z"}
                z:
            %input#position_z.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
    / rotation
    %form.form-inline{:style=>"margin-top:10px;"}
        %label{:style=>"width:100%;"}
            Rotation
        .form-group
            %label{:for=>"rotation_x"}
                x:
            %input#rotation_x.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
        .form-group
            %label{:for=>"rotation_y"}
                y:
            %input#rotation_y.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
        .form-group
            %label{:for=>"rotation_z"}
                z:
            %input#rotation_z.form-control{:type=>"text", :style=>"width: 40px; font-size: 10px;"}
    %form{:style=>"margin-top:10px;"}
        .form-group
            %label{:for=>"decay"}
                Decay:
            %input#decay.form-control{:type=>"text", :style=>"width: 100%; font-size: 10px;"}
        .form-group
            %label{:for=>"intensity"}
                Intensity:
            %input#itensity.form-control{:type=>"text", :style=>"width: 100%; font-size: 10px;"}
        .form-group
            %label{:for=>"distance"}
                Distance:
            %input#distance.form-control{:type=>"text", :style=>"width: 100%; font-size: 10px;"}
    .row.panel-content{:style=>"margin-top:20px;"}
        %button#updatelight.topcoat-button--large--cta{:style=>"width:100%;"}
            Update

