<div id='headerContainer' style='padding: 10px;'>
  <form>
    <div class='form-group'>
      <label for='lightName'>
        Name
      </label>
      <input class='form-control' id='lightName' placeholder='' type='text'>
    </div>
  </form>
  <!-- position -->
  <form class='form-inline'>
    <label style='width:100%;'>
      Position
    </label>
    <div class='form-group'>
      <label for='position_x'>
        x:
      </label>
      <input class='form-control' id='position_x' style='width: 40px; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='position_y'>
        y:
      </label>
      <input class='form-control' id='position_y' style='width: 40px; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='position_z'>
        z:
      </label>
      <input class='form-control' id='position_z' style='width: 40px; font-size: 10px;' type='text'>
    </div>
  </form>
  <!-- rotation -->
  <form class='form-inline' style='margin-top:10px;'>
    <label style='width:100%;'>
      Rotation
    </label>
    <div class='form-group'>
      <label for='rotation_x'>
        x:
      </label>
      <input class='form-control' id='rotation_x' style='width: 40px; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='rotation_y'>
        y:
      </label>
      <input class='form-control' id='rotation_y' style='width: 40px; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='rotation_z'>
        z:
      </label>
      <input class='form-control' id='rotation_z' style='width: 40px; font-size: 10px;' type='text'>
    </div>
  </form>
  <form style='margin-top:10px;'>
    <div class='form-group'>
      <label for='decay'>
        Decay:
      </label>
      <input class='form-control' id='decay' style='width: 100%; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='intensity'>
        Intensity:
      </label>
      <input class='form-control' id='itensity' style='width: 100%; font-size: 10px;' type='text'>
    </div>
    <div class='form-group'>
      <label for='distance'>
        Distance:
      </label>
      <input class='form-control' id='distance' style='width: 100%; font-size: 10px;' type='text'>
    </div>
  </form>
  <div class='row panel-content' style='margin-top:20px;'>
    <button class='topcoat-button--large--cta' id='updatelight' style='width:100%;'>
      Update
    </button>
  </div>
</div>
