%form
    .form-group
        %label{:for=>"exampleInputEmail1"}
            Name
        %input#exampleInputEmail1.form-control{:type=>"email", :placeholder=>"Enter email"}
%form.form-inline
    .form-group
        %label{:for=>"position_x"}
            x:
        %input#position_x.form-control{:type=>"text"}
    .form-group
        %label{:for=>"position_y"}
            y:
        %input#position_y.form-control{:type=>"text"}
    .form-group
        %label{:for=>"position_z"}
            z:
        %input#position_z.form-control{:type=>"text"}

