.panel.panel-default
    .panel-heading
        %h3.panel-title
            Material Properties
    .panel-body
        %h6.panel-title-medium
            type: MeshBasicMaterial
        .row.panel-content{:style=>"padding-left:0; margin-top: 10px;"}
            .dropdown{:style=>"margin-bottom:10px;"}
                #changeMaterial.topcoat-button--large--cta.dropdown-toggle{:type=>"button", "data-toggle"=>"dropdown", "aria-expanded"=>"true", :style=>"margin-left: 13px;height: 20px;line-height: 20px;"}
                    Change Material
                    %span.caret
                %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"changeMaterial"}
                    %li{:role=>"presentation"}
                        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.interface.rightSidebar.meshListener.changeMaterial('MeshPhongMaterial');"}
                            MeshPhongMaterial
                    %li{:role=>"presentation"}
                        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.interface.rightSidebar.meshListener.changeMaterial('MeshDepthMaterial');"}
                            MeshDepthMaterial
                    %li{:role=>"presentation"}
                        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.interface.rightSidebar.meshListener.changeMaterial('MeshLambertMaterial');"}
                            MeshLambertMaterial
                    %li{:role=>"presentation"}
                        %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.interface.rightSidebar.meshListener.changeMaterial('MeshNormalMaterial');"}
                            MeshNormalMaterial
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Visible
            .col-md-6
                %label.topcoat-switch
                    %input#visibleToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"meshVisible"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Cast
            .col-md-6
                %label.topcoat-switch
                    %input#castToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"meshCastShadow"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Receive
            .col-md-6
                %label.topcoat-switch
                    %input#receiveToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"meshReceiveShadow"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Wireframe
            .col-md-6
                %label.topcoat-switch
                    %input#wireframeToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"meshWireframe"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-6.panel-content-title
                Fog
            .col-md-6
                %label.topcoat-switch
                    %input#fogToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"meshFog"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-4.panel-content-title
                Color
            .col-md-8
                %input#meshColor.color{:style=>"width: 80px; margin-top: 4px;", "data-toggle"=>"mesh"}
        %h6.panel-title-medium
            Textures
        .row.panel-content{:style=>"padding-left:0; margin-top:10px;"}
            %form
                .form-group{:style=>"margin-left: 13px;"}
                    %label{:for=>"textureMap"}
                        Texture Map
                    %input#textureMap{:type=>"file", :style=>"width:100%;"}
                    %p.help-block
                        Load Texture.
                .form-group{:style=>"margin-left: 13px;"}
                    %label{:for=>"lightMap"}
                        Light Map
                    %input#lightMap{:type=>"file", :style=>"width:100%;"}
                    %p.help-block
                        Load Light Map.
                .form-group{:style=>"margin-left: 13px;"}
                    %label{:for=>"specularMap"}
                        Specular Map
                    %input#specularMap{:type=>"file", :style=>"width:100%;"}
                    %p.help-block
                        Load Specular Map.
                .form-group{:style=>"margin-left: 13px;"}
                    %label{:for=>"alphaMap"}
                        Alpha Map
                    %input#alphaMap{:type=>"file", :style=>"width:100%;"}
                    %p.help-block
                        Load Alpha Map.
                .form-group{:style=>"margin-left: 13px;"}
                    %label{:for=>"envMap"}
                        Env Map
                    %input#envMap{:type=>"file", :style=>"width:100%;"}
                    %p.help-block
                        Load Alpha Map.

