.panel.panel-default
    .panel-heading
        %h3.panel-title
            Light Properties
    .panel-body
        %h6.panel-title-medium
            type: Point Light
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-4.panel-content-title
                Cast
            .col-md-8
                %label.topcoat-switch
                    %input#castShadow.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"lightCastShadow"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-4.panel-content-title
                Receive
            .col-md-8
                %label.topcoat-switch
                    %input#receiveShadow.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"lightReceiveShadow"}
                    .topcoat-switch__toggle
        .row.panel-content{:style=>"padding-left:0;"}
            .col-md-4.panel-content-title
                Color
            .col-md-8
                %input#lightColor.color{:style=>"width: 80px; margin-top: 4px;", "data-toggle"=>"light"}
