!!! 5
%html
    %head
        %title
            Wage Editor

        / basic imports, we don't need angular or react
        %script{:type=>"text/javascript", :src=>"app/lib/jquery.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/signals.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/bootstrap.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/classy.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/json2.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/util.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/HashMap.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/colorpicker.js"}

        / actual three.js import
        %script{:type=>"text/javascript", :src=>"app/lib/three.min.js"}

        / three js related imports
        %script{:type=>"text/javascript", :src=>"app/lib/Projector.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/threex.domevents.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/OrbitControls.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/TransformControls.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/stats.min.js"}

        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/bootstrap.dark.min.css"}
        %link{:rel=>"stylesheet", :href=>"css/font-awesome/css/font-awesome.min.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/colorpicker.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/app.css"}

        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/topcoat-desktop-dark.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/main.css"}

        %script{:type=>"text/javascript", :src=>"app/App.main.js"}
    %body
        / navbar
        .navbar-sm
            .navbar-primary
                %nav#nav.navbar.navbar-inverse
                    .container-fluid
                        / Brand and toggle get grouped for better mobile display
                        .navbar-header
                            %button.navbar-toggle.collapsed{:type=>"button", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1"}
                                %span.sr-only
                                    Toggle navigation
                                %span.icon-bar
                                %span.icon-bar
                                %span.icon-bar
                            %a.navbar-brand{:href=>"#"}
                                Brand
                        / Collect the nav links, forms, and other content for toggling
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            %ul.nav.navbar-nav
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        File
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"javascript:app.new();"}
                                                New
                                        %li
                                            %a{:href=>"javascript:app.storage.save();"}
                                                Save
                                        %li
                                            %a{:href=>"#"}
                                                Load
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                Load Recent
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                Close
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Add
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addMeshModal"}
                                                Mesh
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addModelModal"}
                                                Model
                                        %li.divider
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addLightModal"}
                                                Lights
                                        %li.divider
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addSoundModal"}
                                                Sound
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Project
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#"}
                                                Settings
                                        %li
                                            %a{:href=>"#"}
                                                Script Editor
                                        %li.divider
                                        %li
                                            %a{:href=>"javascript:app.exporter.wage();"}
                                                Wage Build
                                        %li
                                            %a{:href=>"#"}
                                                Mobile Build
                                        %li
                                            %a{:href=>"#"}
                                                NodeWebkit Build
                            %ul.nav.navbar-nav.navbar-right
                                %li.dropdown
                                    %a.dropdown-toggle.fa.fa-question{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Help
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#"}
                                                Version
                                        %li
                                            %a{:href=>"#"}
                                                FAQ
                                        %li
                                            %a{:href=>"#"}
                                                Wiki
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                About
        / main container
        #maincontainer.container-fluid
            #innercontainer.row
                #left-column.column
                    %h6.title
                        Scene Settings
                    #accordion.panel-group{"role"=>"tablist", "aria-multiselectable"=>"true"}
                        / first expandable
                        .panel.panel-default
                            #fogHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#fogcaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#fogCollapse", "aria-expanded"=>"true", "aria-controls"=>"fogCollapse"}
                                        Fog
                            #fogCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"fogHeading", "data-type"=>"fog"}
                                .panel-body{:style=>"padding:0;"}
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Enabled
                                        .col-md-8
                                            %label.topcoat-switch
                                                %input#fogToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"fog"}
                                                .topcoat-switch__toggle
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Color
                                        .col-md-8
                                            %input#fogColor.color{:style=>"width: 80px; margin-top: 4px;", "data-toggle"=>"fog"}
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Density
                                        .col-md-8
                                            %input#fogDensity.topcoat-range{:style=>"width: 80px; margin-top: 13px;", :type=>"range", "data-toggle"=>"fog", :min=>"0", :max=>"1", :step=>"0.1", :value=>"0.5"}
                        / shadow expandable
                        .panel.panel-default{:style=>"margin-top: -2px !important;"}
                            #shadowHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#shadowcaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#shadowCollapse", "aria-expanded"=>"true", "aria-controls"=>"shadowCollapse"}
                                        Shadow
                            #shadowCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"shadowHeading", "data-type"=>"shadow"}
                                .panel-body{:style=>"padding:0;padding-bottom: 10px;"}
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Enabled
                                        .col-md-8
                                            %label.topcoat-switch
                                                %input#shadowToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"shadow"}
                                                .topcoat-switch__toggle
                                    %h6.panel-title-medium{:style=>"margin-left: 27px;"}
                                        type:
                                    .row.panel-content
                                        .dropdown
                                            #changeMaterial.topcoat-button--large--cta.dropdown-toggle{:type=>"button", "data-toggle"=>"dropdown", "aria-expanded"=>"true", :style=>"margin-left: 13px;height: 20px;line-height: 20px;"}
                                                Change Shadow Type
                                                %span.caret
                                            %ul.dropdown-menu{:role=>"menu", "aria-labelledby"=>"changeMaterial"}
                                                %li{:role=>"presentation"}
                                                    %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.sm.changeShadow('BasicShadowMap');"}
                                                        BasicShadowMap
                                                %li{:role=>"presentation"}
                                                    %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.sm.changeShadow('PCFShadowMap');"}
                                                        PCFShadowMap
                                                %li{:role=>"presentation"}
                                                    %a{:role=>"menuitem", :tabindex=>"-1", :href=>"javascript:app.sm.changeShadow('PCFSoftShadowMap');"}
                                                        PCFSoftShadowMap
                        .row.panel-content{:style=>"margin-top:10px; margin-bottom:10px;"}
                            .col-md-12
                                %button#updateShadows.topcoat-button--large--cta{:style=>"width:100%;"}
                                    Update Scene
                        / here second expandable
                        .panel.panel-default.panel-column
                            #controlsHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#controlscaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#controlsCollapse", "aria-expanded"=>"true", "aria-controls"=>"controlsCollapse"}
                                        Controls
                            #controlsCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"controlsHeading", "data-type"=>"controls"}
                                .panel-body{:style=>"padding:0;"}
                                    .panel-content{:style=>"padding: 0;"}
                                        .topcoat-button-bar{:style=>"margin-left: auto; margin-right: auto;"}
                                            .topcoat-button-bar__item
                                                %button#controlsTranslate.topcoat-button-bar__button--large.settingButton
                                                    Translate
                                            .topcoat-button-bar__item
                                                %button#controlsRotate.topcoat-button-bar__button--large.settingButton
                                                    Rotate
                                            .topcoat-button-bar__item
                                                %button#controlsScale.topcoat-button-bar__button--large.settingButton
                                                    Scale
                                            .topcoat-button-bar__item
                                                %button#controlsSpace.topcoat-button-bar__button--large.settingButton
                                                    Space
                                    .row.panel-content
                                        #controlsMode.col-md-12.panel-content-title
                                            Control Mode: Translate
                                    .row.panel-content
                                        #controlsSpaceValue.col-md-12.panel-content-title
                                            Control Space: Local
                        %h6.title
                            Scene Hierarchy
                        / third scene hierarchy
                        .panel.panel-default.panel-column
                            #sceneHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#scenecaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#sceneCollapse", "aria-expanded"=>"true", "aria-controls"=>"sceneCollapse"}
                                        Meshes
                            #sceneCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"sceneHeading", "data-type"=>"scene"}
                                .panel-body{:style=>"padding:0;"}
                                    .panel-content{:style=>"padding: 0;"}
                                        %ul#sceneHierarchy.hierarchy
                                    .row.panel-content
                                        #sceneVertices.col-md-12.panel-content-title
                                            Vertices: 0
                                    .row.panel-content
                                        #sceneFaces.col-md-12.panel-content-title
                                            Faces: 0
                        / fourth lights
                        .panel.panel-default.panel-column
                            #lightsHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#lightscaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#lightsCollapse", "aria-expanded"=>"true", "aria-controls"=>"lightsCollapse"}
                                        Lights
                            #lightsCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"lightsHeading", "data-type"=>"lights"}
                                .panel-body{:style=>"padding:0;"}
                                    .panel-content{:style=>"padding: 0;"}
                                        %ul#lightHierarchy.hierarchy
                                    .row.panel-content
                                        #lightsCount.col-md-12.panel-content-title
                                            Light: 0
                        / fifth sounds
                        .panel.panel-default.panel-column
                            #soundsHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#soundscaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#soundsCollapse", "aria-expanded"=>"true", "aria-controls"=>"soundsCollapse"}
                                        Sounds
                            #soundsCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"soundsHeading", "data-type"=>"sounds"}
                                .panel-body{:style=>"padding:0;"}
                                    .panel-content{:style=>"padding: 0;"}
                                        %ul#soundsHierarchy.hierarchy
                                    .row.panel-content
                                        #soundsCount.col-md-12.panel-content-title
                                            Sounds: 0
                #center.column
                    #scenecontainer
                #right-column.column
                    %h3#nomeshselected
                        No mesh selected
                    #rightContainer
            .row
                #footer.col-md-12
                    .row.panel-content
                        .col-md-2
                            %span{:style=>"line-height: 40px; font-size: 12px;"}
                                Autosave
                            %label.topcoat-switch{:style=>"margin-top:7px;"}
                                %input#autosaveToggle.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"autosave"}
                                .topcoat-switch__toggle
                        .col-md-2#status{:style=>"font-size:12px; line-height: 40px;"}
                            %i.fa.fa-close
                            %span
                                Not Saved.
                        .col-md-2
                        .col-md-2
                        .col-md-4
                            .progress{:style=>"margin-top:10px;"}
                                .progress-bar#progressBar{:role=>"progressbar", "aria-valuenow"=>"60", "aria-valuemin"=>"0", "aria-valuemax"=>"100", :style=>"width: 0%;"}
                                    0%
        / modals
        / addMeshModal
        #addMeshModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Mesh
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');$('#addMeshModal').modal('hide');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere');$('#addMeshModal').modal('hide');"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');$('#addMeshModal').modal('hide');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane');$('#addMeshModal').modal('hide');"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron');$('#addMeshModal').modal('hide');"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube');$('#addMeshModal').modal('hide');"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus');$('#addMeshModal').modal('hide');"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close
        / add model modal
        #addModelModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Model
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere')"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane')"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron')"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube')"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus')"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close
        / add light modal
        #addLightModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Light
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.lm.addLight('ambientLight');$('#addLightModal').modal('hide');"}
                                Ambient Light
                            %li.list-group-item{:onclick=>"app.lm.addLight('pointLight');$('#addLightModal').modal('hide');"}
                                Point Light
                            %li.list-group-item{:onclick=>"app.lm.addLight('directionalLight');$('#addLightModal').modal('hide');"}
                                Directional Light
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close
        / add sound modal
        #addSoundModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Model
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere')"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane')"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron')"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube')"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus')"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close