!!! 5
%html
    %head
        %title
            Wage Editor

        / basic imports, we don't need angular or react
        %script{:type=>"text/javascript", :src=>"app/lib/jquery.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/signals.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/bootstrap.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/classy.min.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/util.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/HashMap.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/colorpicker.js"}

        / actual three.js import
        %script{:type=>"text/javascript", :src=>"app/lib/three.min.js"}

        / three js related imports
        %script{:type=>"text/javascript", :src=>"app/lib/Projector.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/threex.domevents.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/OrbitControls.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/TransformControls.js"}
        %script{:type=>"text/javascript", :src=>"app/lib/stats.min.js"}

        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/bootstrap.dark.min.css"}
        %link{:rel=>"stylesheet", :href=>"css/font-awesome/css/font-awesome.min.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/colorpicker.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/app.css"}

        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/topcoat-desktop-dark.css"}
        %link{:rel=>"stylesheet", :type=>"text/css", :href=>"css/main.css"}

        %script{:type=>"text/javascript", :src=>"app/App.main.js"}
    %body
        / navbar
        .navbar-sm
            .navbar-primary
                %nav#nav.navbar.navbar-inverse
                    .container-fluid
                        / Brand and toggle get grouped for better mobile display
                        .navbar-header
                            %button.navbar-toggle.collapsed{:type=>"button", "data-toggle"=>"collapse", "data-target"=>"#bs-example-navbar-collapse-1"}
                                %span.sr-only
                                    Toggle navigation
                                %span.icon-bar
                                %span.icon-bar
                                %span.icon-bar
                            %a.navbar-brand{:href=>"#"}
                                Brand
                        / Collect the nav links, forms, and other content for toggling
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            %ul.nav.navbar-nav
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        File
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#"}
                                                Action
                                        %li
                                            %a{:href=>"#"}
                                                Another action
                                        %li
                                            %a{:href=>"#"}
                                                Something else here
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                Separated link
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                One more separated link
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Add
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addMeshModal"}
                                                Mesh
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addModelModal"}
                                                Model
                                        %li.divider
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addLightModal"}
                                                Lights
                                        %li.divider
                                        %li
                                            %a{:href=>"#", "data-toggle"=>"modal", "data-target"=>"#addSoundModal"}
                                                Sound
                                %li.dropdown
                                    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Project
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#"}
                                                Action
                                        %li
                                            %a{:href=>"#"}
                                                Another action
                                        %li
                                            %a{:href=>"#"}
                                                Something else here
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                Separated link
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                One more separated link
                            %ul.nav.navbar-nav.navbar-right
                                %li.dropdown
                                    %a.dropdown-toggle.fa.fa-question{:href=>"#", "data-toggle"=>"dropdown", :role=>"button", "aria-expanded"=>"false"}
                                        Help
                                        %span.caret
                                    %ul.dropdown-menu{:role=>"menu"}
                                        %li
                                            %a{:href=>"#"}
                                                Version
                                        %li
                                            %a{:href=>"#"}
                                                FAQ
                                        %li
                                            %a{:href=>"#"}
                                                Wiki
                                        %li.divider
                                        %li
                                            %a{:href=>"#"}
                                                About

        / main container
        #maincontainer.container-fluid
            #innercontainer.row
                #left-column.column
                    %h6.title
                        Scene Settings
                    #accordion.panel-group{"role"=>"tablist", "aria-multiselectable"=>"true"}
                        / first expandable
                        .panel.panel-default
                            #fogHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#fogcaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#fogCollapse", "aria-expanded"=>"true", "aria-controls"=>"fogCollapse"}
                                        Fog
                            #fogCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"fogHeading", "data-type"=>"fog"}
                                .panel-body{:style=>"padding:0;"}
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Enabled
                                        .col-md-8
                                            %label.topcoat-switch
                                                %input.topcoat-switch__input{:type=>"checkbox", "data-flag"=>"fog"}
                                                .topcoat-switch__toggle
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Color
                                        .col-md-8
                                            %input.color{:style=>"width: 80px; margin-top: 4px;", "data-toggle"=>"fog"}
                                    .row.panel-content
                                        .col-md-4.panel-content-title
                                            Density
                                        .col-md-8
                                            %input#fogDensity.topcoat-range{:style=>"width: 80px; margin-top: 13px;", :type=>"range", "data-toggle"=>"fog", :min=>"0", :max=>"1", :step=>"0.1", :value=>"0.5"}
                        / here secondo expandable
                        .panel.panel-default.panel-column
                            #controlsHeading.panel-heading{:role=>"tab"}
                                %h6.panel-title
                                    %i#controlscaret.fa.fa-caret-right
                                    %a{"data-toggle"=>"collapse", "data-parent"=>"#accordion", :href=>"#controlsCollapse", "aria-expanded"=>"true", "aria-controls"=>"controlsCollapse"}
                                        Controls
                            #controlsCollapse.panel-collapse.collapse.settingHeader{:role=>"tabpanel", "aria-labelledby"=>"controlsHeading", "data-type"=>"controls"}
                                .panel-body{:style=>"padding:0;"}
                                    .panel-content{:style=>"padding: 0;"}
                                        .topcoat-button-bar{:style=>"margin-left: auto; margin-right: auto;"}
                                            .topcoat-button-bar__item
                                                %button#controlsTranslate.topcoat-button-bar__button--large.settingButton
                                                    Translate
                                            .topcoat-button-bar__item
                                                %button#controlsRotate.topcoat-button-bar__button--large.settingButton
                                                    Rotate
                                            .topcoat-button-bar__item
                                                %button#controlsScale.topcoat-button-bar__button--large.settingButton
                                                    Scale
                                            .topcoat-button-bar__item
                                                %button#controlsSpace.topcoat-button-bar__button--large.settingButton
                                                    Scale
                                    .row.panel-content
                                        .col-md-12.panel-content-title
                                            Control Mode: Translate
                                    .row.panel-content
                                        .col-md-12.panel-content-title
                                            Control Space: Global

                #center.column
                    #scenecontainer
                #right-column.column
            .row
                #footer.col-md-12

        / modals
        / addMeshModal
        #addMeshModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Mesh
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');$('#addMeshModal').modal('hide');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere');$('#addMeshModal').modal('hide');"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');$('#addMeshModal').modal('hide');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane');$('#addMeshModal').modal('hide');"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron');$('#addMeshModal').modal('hide');"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube');$('#addMeshModal').modal('hide');"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus');$('#addMeshModal').modal('hide');"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close

        / add model modal
        #addModelModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Model
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere')"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane')"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron')"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube')"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus')"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close

        / add light modal
        #addLightModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Light
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.lm.addLight('ambientLight');$('#addLightModal').modal('hide');"}
                                Ambient Light
                            %li.list-group-item{:onclick=>"app.lm.addLight('pointLight');$('#addLightModal').modal('hide');"}
                                Point Light
                            %li.list-group-item{:onclick=>"app.lm.addLight('directionalLight');$('#addLightModal').modal('hide');"}
                                Directional Light
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close

        / add sound modal
        #addSoundModal.wagemodal.modal.fade.bs-example-modal-sm{:tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
            .modal-dialog{:style=>"z-index:99999;"}
                .modal-content
                    .modal-header
                        %h4#addMeshModalTitle.modal-title
                            Add > Model
                    .modal-body
                        %ul.list-group
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cube');"}
                                Cube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('sphere')"}
                                Sphere
                            %li.list-group-item{:onclick=>"app.mm.addMesh('cylinder');"}
                                Cylinder
                            %li.list-group-item{:onclick=>"app.mm.addMesh('plane')"}
                                Plane
                            %li.list-group-item{:onclick=>"app.mm.addMesh('dodecahedron')"}
                                Dodecahedron
                            %li.list-group-item{:onclick=>"app.mm.addMesh('tube')"}
                                Tube
                            %li.list-group-item{:onclick=>"app.mm.addMesh('thorus')"}
                                Thorus
                    .modal-footer
                        %button.topcoat-button--large--cta{:type=>"button", "data-dismiss"=>"modal"}
                            Close