/* navbar */

#nav {
    border-radius: 0px;
}

.navbar-primary .navbar { background:#222; border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: #aaa;}
.navbar-primary .navbar .nav > li > a:hover {color: #fff; background-color: #555;}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #555;}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #2a9fd6  ;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

/* main css */

* {
    color: #ccc;
}

a {
    text-decoration: none;
}

.topcoat-switch__input.active + .topcoat-switch__toggle{
    margin-left: 3.80rem;
}

.list-group-item:hover {
    background: #2a9fd6;
    color: white;
}

#maincontainer {
    height: calc(100% - 40px);
    top: 40px;
    width: 100%;
    position: absolute;
}

#innercontainer {
    height: calc(100% - 40px);
}

.column {
    height: 100%;
    float: left;
    position: relative;
    /*-webkit-transition: width 200ms ease;
    -moz-transition: width 200ms ease;
    -o-transition: width 200ms ease;
    transition: width 200ms ease;
    */
}

.column .title {
    color: #ccc;
    margin-left: 20px;
}

.panel-column {
    margin-top: -2px !important;
}

.panel-heading {
    background: #1d1d1d !important;
    border-bottom: 0.07em solid #333 !important;
    border-top: 0.07em solid #333 !important;
}

.panel-content {
    padding-left: 27px;
    padding-right: 20px;
}

.panel-content-title {
    line-height: 35px;
    font-size: 12px;
    height: 35px;
}

.panel-title-medium {
    font-size: 14px;
}

.panel-title-small {
    font-size: 12px;
}

.panel-body{
    padding-top: 10px !important;
}

.settingButton {
    min-height: 20px !important;
}

#left-column, #right-column {
    background-color: #222;
    border: 1px solid rgba(255,255,255,0.1);
    width: 16%;
}

#right-column {
    float: right;
}

#center {
    width: 68%;
}

#scenecontainer {
    height: 100%;
    width: 100%;
}

#footer {
    min-height: 40px;
    height: 40px;
    background: #222;
}


/*
    
    LEFT SIDEBAR CSS

*/

.hierarchy {
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
    overflow: auto;
    max-width: 100%;
    max-height: 200px;
}

.hierarchy .parent, .son {
    font-size: 14px;
}

.hierarchy .parent:hover, .son:hover {
    background: #2a9fd6;
}

.hierarchy .parent {
    list-style-image: url("../img/mesh_flag.png");
    margin: 5px;
}

.hierarchy .parent.mesh_flag {list-style-image: url("../img/mesh_flag.png");}
.hierarchy .parent.light_flag {list-style-image: url("../img/light_flag.png");}
.hierarchy .parent.sound_flag {list-style-image: url("../img/sound_flag.png");}

.hierarchy .parent.selected, .son.selected {list-style-image: url("../img/selected_flag.png") !important;}

.hierarchy .son {
    list-style-image: url("../img/arrow.png");
    margin: 5px 0px 0px 20px;
}

.hierarchy .parent:after {
    background: blue;
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
}

.hierarchy .son:after {
    background: blue;
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
}


/*
    RIGHT SIDEBAR CSS
*/

#nomeshselected {
    color: #333;
    padding-left: 20px;
    font-size: 34px;
    padding-right: 20px;
    text-align: center;
    margin-top: 100px;
}

#rightContainer {
    width: 100%;
    max-height: calc(100% - 50px);
    margin: 0;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-control {
    height: 24px !important;
    background-color: #555;
    color: #ccc;
}

